.worksheets-header {
	margin: 1rem;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 700px) {
	.worksheets-header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.main-content {
	width: 100%;
}

.page-container {
	display: flex;
}

.header-container {
	width: -webkit-fill-available;
}

.background {
	width: 100vw;
	height: 100vh;
	position: absolute;
    left: 0;
    top: 0;
    background-color: gray;
    opacity: 0.33;
}

.upload-container {
	display: flex;
	gap: 1rem;
}

.upload-link {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	color: blue;
	text-decoration: none;
}

.upload-link:hover {
	text-decoration: underline;
}
