.navbar {
	background-color: rgb(37, 99, 235);
	position: sticky;
	top: 0;
	padding: 1px;
}

.navbar-title {
    font-size: 1.5rem;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 10px;
}

.navbar ul a {
	color: white;
	text-decoration: none;
}

li {
	list-style-type: none;
}

.navbar-routes {
	display: flex;
    padding: 0;
    margin: 0;
}

.no-session-links,
.session-links {
    display: flex;
    align-items: center;
}

.no-session-links li,
.session-links li {
    margin-left: 1rem;
}

