main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-style: solid;
    border: #e5e7eb;
    gap: 10px;
}

@media screen and (max-width: 500px) {
    form {
        width: 75vw;
    }
}

form > input {
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 2rem;
}